body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: red;
}

.container{
    border-style: dotted;
    border-radius: 25px;
}

.container > h2{
    margin: 20px;
}

.container > p{
    margin: 10px;
    display: inline-block;
}

.container > img{
    width: 200px;
    height: 300px;
    margin: 50px;
    float: right
}

#foto:hover{
    transform: scaleX(-1);
}

#foto{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.comentarios{
    margin: 1em;
    display: flex;
    flex-direction: column;
    border-style: dotted;
}
